* {
  margin: 0;
  padding: 0; }

:root {
  --font-s-small: 0.9rem;
  --font-s-normal: 1.2rem;
  --font-s-large: 1.5rem; }

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #222;
    --main-color-white: #0af;
    --black-color: #ddd;
    --gray-color: #888;
    --white-color: #333;
    --main-color: #dff;
    --main-color-white: #aff;
    --black-color: #222;
    --gray-color: #888;
    --white-color: #ddd; } }

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #dff;
    --main-color-white: #aff;
    --black-color: #222;
    --gray-color: #888;
    --white-color: #ddd; } }

.mainInput {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 70%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem auto; }

.mainInput input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #222;
  text-align: center;
  transition: .5s;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid; }

.mainInput input:focus {
  border-color: #6af; }

.mainInput span {
  position: absolute;
  right: 5%;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.mainAllInputs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: .3rem auto;
  flex-wrap: wrap; }

.mainAllInputs .inputFields {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 150px;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin: .2rem; }

.mainAllInputs .inputFields input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #222;
  text-align: center;
  transition: .5s;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid; }

.mainAllInputs .inputFields input:focus {
  border-color: #6af; }

.mainAllInputs .inputFields span {
  position: absolute;
  right: 5%;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.mainRegister {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: .3rem auto;
  flex-wrap: wrap; }

.mainRegister .inputFields {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 150px;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin: .2rem; }

.mainRegister .inputFields input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #222;
  text-align: center;
  transition: .5s;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid; }

.mainRegister .inputFields input:focus {
  border-color: #6af; }

.mainRegister .inputFields span {
  position: absolute;
  right: 5%;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.mainTable {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  overflow: hidden;
  transition: 0.5s;
  font-size: var(--font-s-normal); }

.mainTable thead {
  background: var(--black-color); }

.mainTable thead th {
  padding: 1rem 0;
  color: var(--white-color);
  font-weight: bold; }

.mainTable tbody tr:nth-child(odd) {
  background: var(--main-color-white); }

.mainTable tbody tr td {
  padding: 0.7rem 0;
  text-align: center;
  width: 20%;
  overflow: auto;
  color: var(--black-color);
  height: 20px; }

.mainTable tbody tr td:last-child {
  font-size: var(--font-s-small); }

.tableControl {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 0.5rem 0;
  margin: 1rem auto;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color); }

.tableControl .itemControl p {
  font-size: var(--font-s-small);
  color: var(--black-color); }

.tableControl .itemSelect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.tableControl .itemSelect select {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  appearance: none;
  background: var(--black-color);
  padding: 0.2rem;
  margin: 0 0 0 0.2rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  color: var(--white-color); }

.tableControl .itemSelect select option {
  color: var(--white-color); }

.tableControl .itemSelect p {
  font-size: var(--font-s-small);
  color: var(--black-color); }

.tableControl .next-prev {
  background: var(--black-color);
  padding: 0.7rem;
  border-width: 0 0 2px 0;
  border-color: transparent;
  border-style: solid; }

.tableControl .next-prev p {
  color: var(--white-color);
  font-size: var(--font-s-small); }

.tableControl .next-prev:hover {
  border-color: #6af; }

.tableControl .next {
  border-radius: 0 0.6rem 0.6rem 0; }

.tableControl .prev {
  border-radius: 0.6rem 0 0 0.6rem; }

.calculadora {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 120px;
  background: var(--main-color-white);
  padding: 1rem;
  margin: auto; }

.calculadora input,
.calculadora button {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: none;
  width: 90%;
  outline: none;
  padding: 0.4rem;
  margin: 0.3rem 0;
  font-size: var(font-s-normal);
  color: #222;
  text-align: center;
  font-weight: bold; }

.calculadora button {
  background: var(--black-color);
  color: var(--white-color); }

.calculadora select {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.3rem;
  appearance: none;
  outline: none;
  font-weight: bold;
  background: var(--main-color);
  color: #ddd;
  border: none; }

.calculadora label {
  font-size: var(--font-s-small);
  color: #222;
  margin: 0.1rem 0; }

.calculadora input,
.calculadora button,
.calculadora select {
  border-width: 2px;
  border-style: solid;
  border-color: transparent; }

.calculadora input:focus, .calculadora input:hover,
.calculadora button:focus,
.calculadora button:hover,
.calculadora select:focus,
.calculadora select:hover {
  border-color: #6af; }

body {
  background: var(--main-color);
  position: relative; }

h1 {
  color: var(--black-color);
  width: 100%;
  text-align: center;
  margin: 1rem 0; }

.text-small {
  font-size: var(--font-s-small); }

.links {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  background: var(--black-color);
  padding: .3rem;
  color: var(--white-color);
  position: absolute;
  left: 1rem;
  top: 1rem; }
