.mainInput {
  @include inputs(70%);
  margin: 1rem auto;
}

.mainAllInputs {
	@include flex(row, space-around);
	width: 90%;
  margin: .3rem auto;
  flex-wrap: wrap;
  .inputFields {
    @include inputs(150px);
	margin: .2rem;
  }
}
.mainRegister {
	@include flex(column, flex-start);
	width: 90%;
  margin: .3rem auto;
  flex-wrap: wrap;
  .inputFields {
    @include inputs(150px);
	margin: .2rem;
  }
}
